.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.circle0 {
  background: radial-gradient(
      #6cc2c2 0,
      #6cc2c2 32px,
      transparent 32px,
      transparent 100%
    ),
    conic-gradient(
      #999999 0%,
      #999999 10%,
      #999999 10%,
      #999999 20%,
      #999999 20%,
      #999999 30%,
      #999999 30%,
      #999999 40%,
      #999999 40%,
      #999999 50%,
      #999999 50%,
      #999999 60%,
      #999999 60%,
      #999999 70%,
      #999999 70%,
      #999999 80%,
      #999999 80%,
      #999999 90%,
      #999999 90%,
      #999999 100%
    );
}

.circle1 {
  background: radial-gradient(
      #6cc2c2 0,
      #6cc2c2 32px,
      transparent 32px,
      transparent 100%
    ),
    conic-gradient(
      #006600 0%,
      #006600 10%,
      #999999 10%,
      #999999 20%,
      #999999 20%,
      #999999 30%,
      #999999 30%,
      #999999 40%,
      #999999 40%,
      #999999 50%,
      #999999 50%,
      #999999 60%,
      #999999 60%,
      #999999 70%,
      #999999 70%,
      #999999 80%,
      #999999 80%,
      #999999 90%,
      #999999 90%,
      #999999 100%
    );
}

.circle2 {
  background: radial-gradient(
      #6cc2c2 0,
      #6cc2c2 32px,
      transparent 32px,
      transparent 100%
    ),
    conic-gradient(
      #006600 0%,
      #006600 10%,
      #339900 10%,
      #339900 20%,
      #999999 20%,
      #999999 30%,
      #999999 30%,
      #999999 40%,
      #999999 40%,
      #999999 50%,
      #999999 50%,
      #999999 60%,
      #999999 60%,
      #999999 70%,
      #999999 70%,
      #999999 80%,
      #999999 80%,
      #999999 90%,
      #999999 90%,
      #999999 100%
    );
}

.circle3 {
  background: radial-gradient(
      #6cc2c2 0,
      #6cc2c2 32px,
      transparent 32px,
      transparent 100%
    ),
    conic-gradient(
      #006600 0%,
      #006600 10%,
      #339900 10%,
      #339900 20%,
      #33cc33 20%,
      #33cc33 30%,
      #999999 30%,
      #999999 40%,
      #999999 40%,
      #999999 50%,
      #999999 50%,
      #999999 60%,
      #999999 60%,
      #999999 70%,
      #999999 70%,
      #999999 80%,
      #999999 80%,
      #999999 90%,
      #999999 90%,
      #999999 100%
    );
}

.circle4 {
  background: radial-gradient(
      #6cc2c2 0,
      #6cc2c2 32px,
      transparent 32px,
      transparent 100%
    ),
    conic-gradient(
      #006600 0%,
      #006600 10%,
      #339900 10%,
      #339900 20%,
      #33cc33 20%,
      #33cc33 30%,
      #99cc00 30%,
      #99cc00 40%,
      #999999 40%,
      #999999 50%,
      #999999 50%,
      #999999 60%,
      #999999 60%,
      #999999 70%,
      #999999 70%,
      #999999 80%,
      #999999 80%,
      #999999 90%,
      #999999 90%,
      #999999 100%
    );
}

.circle5 {
  background: radial-gradient(
      #6cc2c2 0,
      #6cc2c2 32px,
      transparent 32px,
      transparent 100%
    ),
    conic-gradient(
      #006600 0%,
      #006600 10%,
      #339900 10%,
      #339900 20%,
      #33cc33 20%,
      #33cc33 30%,
      #99cc00 30%,
      #99cc00 40%,
      #ffff00 40%,
      #ffff00 50%,
      #999999 50%,
      #999999 60%,
      #999999 60%,
      #999999 70%,
      #999999 70%,
      #999999 80%,
      #999999 80%,
      #999999 90%,
      #999999 90%,
      #999999 100%
    );
}

.circle6 {
  background: radial-gradient(
      #6cc2c2 0,
      #6cc2c2 32px,
      transparent 32px,
      transparent 100%
    ),
    conic-gradient(
      #006600 0%,
      #006600 10%,
      #339900 10%,
      #339900 20%,
      #33cc33 20%,
      #33cc33 30%,
      #99cc00 30%,
      #99cc00 40%,
      #ffff00 40%,
      #ffff00 50%,
      #cccc00 50%,
      #cccc00 60%,
      #999999 60%,
      #999999 70%,
      #999999 70%,
      #999999 80%,
      #999999 80%,
      #999999 90%,
      #999999 90%,
      #999999 100%
    );
}

.circle7 {
  background: radial-gradient(
      #6cc2c2 0,
      #6cc2c2 32px,
      transparent 32px,
      transparent 100%
    ),
    conic-gradient(
      #006600 0%,
      #006600 10%,
      #339900 10%,
      #339900 20%,
      #33cc33 20%,
      #33cc33 30%,
      #99cc00 30%,
      #99cc00 40%,
      #ffff00 40%,
      #ffff00 50%,
      #cccc00 50%,
      #cccc00 60%,
      #ff6600 60%,
      #ff6600 70%,
      #999999 70%,
      #999999 80%,
      #999999 80%,
      #999999 90%,
      #999999 90%,
      #999999 100%
    );
}

.circle8 {
  background: radial-gradient(
      #6cc2c2 0,
      #6cc2c2 32px,
      transparent 32px,
      transparent 100%
    ),
    conic-gradient(
      #006600 0%,
      #006600 10%,
      #339900 10%,
      #339900 20%,
      #33cc33 20%,
      #33cc33 30%,
      #99cc00 30%,
      #99cc00 40%,
      #ffff00 40%,
      #ffff00 50%,
      #cccc00 50%,
      #cccc00 60%,
      #ff6600 60%,
      #ff6600 70%,
      #ff3300 70%,
      #ff3300 80%,
      #999999 80%,
      #999999 90%,
      #999999 90%,
      #999999 100%
    );
}

.circle9 {
  background: radial-gradient(
      #6cc2c2 0,
      #6cc2c2 32px,
      transparent 32px,
      transparent 100%
    ),
    conic-gradient(
      #006600 0%,
      #006600 10%,
      #339900 10%,
      #339900 20%,
      #33cc33 20%,
      #33cc33 30%,
      #99cc00 30%,
      #99cc00 40%,
      #ffff00 40%,
      #ffff00 50%,
      #cccc00 50%,
      #cccc00 60%,
      #ff6600 60%,
      #ff6600 70%,
      #ff3300 70%,
      #ff3300 80%,
      #cc0000 80%,
      #cc0000 90%,
      #999999 90%,
      #999999 100%
    );
}

.circle10 {
  background: radial-gradient(
      #6cc2c2 0,
      #6cc2c2 32px,
      transparent 32px,
      transparent 100%
    ),
    conic-gradient(
      #006600 0%,
      #006600 10%,
      #339900 10%,
      #339900 20%,
      #33cc33 20%,
      #33cc33 30%,
      #99cc00 30%,
      #99cc00 40%,
      #ffff00 40%,
      #ffff00 50%,
      #cccc00 50%,
      #cccc00 60%,
      #ff6600 60%,
      #ff6600 70%,
      #ff3300 70%,
      #ff3300 80%,
      #cc0000 80%,
      #cc0000 90%,
      #ff0000 90%,
      #ff0000 100%
    );
}
