$bg-sprint-page: #1a4452;
$bg-btn0: #b2ebf2;
$bg-btn1: #80deea;
$bg-btn2: #4dd0e1;
$bg-btn3: #26c6da;
$bg-btn4: #00bcd4;
$bg-btn5: #00acc1;
$bg-wrong-btn: #ef5742;
$bg-wrong-btn-hover: #ef4027;
$bg-correct-btn: #28c38a;
$bg-correct-btn-hover: #0d9c67;
$color-white: #ffffff;
$color-rosybrown: rosybrown;
$color-hover: dimgray;

.App-sprint {
  background-color: rosybrown;
  min-height: calc(100vh - 140px);
  background-size: cover;
  background-attachment: fixed;
  overflow-y: auto;

  .sprint_level-title {
    padding: 30px 0;
  }

  .sprint_level-title-control {
    padding: 10px 0;
    line-height: 1rem;
    margin-top: 50px;
  }

  .sprint_levels-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1600px;
    gap: 20px;

    .sprint_level-list-section-button {
      display: flex;
      justify-content: center;
      flex-direction: row;
      min-width: 50px;
      gap: 10px;

      .textbook_btn {
        display: flex;
        justify-content: flex-start;
      }

      .textbook_button-0 {
        background-color: $bg-btn0;
      }

      .textbook_button-1 {
        background-color: $bg-btn1;
      }

      .textbook_button-2 {
        background-color: $bg-btn2;
      }

      .textbook_button-3 {
        background-color: $bg-btn3;
      }

      .textbook_button-4 {
        background-color: $bg-btn4;
      }

      .textbook_button-5 {
        background-color: $bg-btn5;
      }

      .textbook_code-title {
        font-size: 3rem;
        padding-right: 10px;
      }

      .game_level-title {
        font-size: 1.5rem;
        text-align: justify;
      }
    }
  }
}

.sprint-game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 70px);

  .sprint-game-inner {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 800px;
  }

  .timer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .cancel-wrapper {
    position: relative;
    width: 80px;
    height: 80px;

    .cancel-sprint-game-btn {
      position: absolute;
      top: -20px;
      right: -50px;
      font-size: 30px;
      color: $color-white;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        color: $color-hover;
      }
    }
  }

  .sprint-game-main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 550px;
    border: 6px solid $color-white;
    border-radius: 20px;
    background-color: $bg-sprint-page;
    margin-bottom: 20px;

    &.wrong {
      border-color: #ef4027;
    }

    &.correct {
      border-color: #0d9c67;
    }
  }

  .sprint-sound-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .sprint-game-btns-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .sprint-addition-points {
    color: $color-white;
    margin-top: 10px;
  }

  .sprint-eng-version,
  .sprint-rus-version {
    color: $color-white;
    margin-top: 30px;
  }

  .sprint-answer-btns-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 40px;

    .sprint-btn-wrong,
    .sprint-btn-correct {
      border-radius: 10px;
    }

    .sprint-btn-wrong {
      background-color: $bg-wrong-btn;

      &:hover {
        background-color: $bg-wrong-btn-hover;
      }
    }

    .sprint-btn-correct {
      width: 248px;
      background-color: $bg-correct-btn;

      &:hover {
        background-color: $bg-correct-btn-hover;
      }
    }
  }

  .sprint-btn-play {
    border-radius: 10px;
  }
}
