$bg-games-btn: #00bcd4;

.dictionary_btn-container {
  .dictionary_games-button-title {
    display: block;
    padding: 20px 0;
    font-size: 1.2rem;
    font-weight: inherit;
    text-transform: uppercase;
  }

  .dictionary_btn {
    min-width: 250px;
    background-color: $bg-games-btn;
    margin-right: 15px;
    margin-top: 20px;
    font-size: 2rem;
  }
}

.dictionary-message {
  font-size: 2rem;
}

.dictionary_btn-container {
  .dictionary_games-btn {
    min-width: 150px;
    background-color: $bg-games-btn;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
